@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    margin: 0;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
}

main{
    margin-top: 100px;
    padding: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.badge{
    background-color: #93C572;
    padding: 5px 20px;
    text-align: center;
    border-radius: 100px;
}

.description{
    display: flex;
    justify-content: center;
    color: #5C5C5C;
}

.card{
    width: 340px;
    padding: 0 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    min-height: 300px;
}

h2{
    text-align: center;
    font-size: 1.3em;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    margin-top: 30px;
}

input{
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: solid 1px #DDD;
    margin-top: 15px;
}

.align-center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.accent{
    color: #93C572;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #FFF;
}

body::-webkit-scrollbar-thumb {
    background: #93C572;
}